Repository hmcts/probate-ccd-data-migration-tool, pull requests merged in 2024-04, with the labels that each got.

#6 Dtspb 3926 data migration sols cases
  build.gradle
  charts/probate-cron-ccd-data-migration-tool/Chart.yaml
  charts/probate-cron-ccd-data-migration-tool/values.yaml
  src/main/java/uk/gov/hmcts/reform/domain/common/AuditEvent.java
  src/main/java/uk/gov/hmcts/reform/domain/common/AuditEventsResponse.java
  src/main/java/uk/gov/hmcts/reform/domain/common/Organisation.java
  src/main/java/uk/gov/hmcts/reform/domain/common/OrganisationEntityResponse.java
  src/main/java/uk/gov/hmcts/reform/domain/common/OrganisationPolicy.java
  src/main/java/uk/gov/hmcts/reform/domain/exception/ClientException.java
  src/main/java/uk/gov/hmcts/reform/migration/CaseMigrationProcessor.java
  src/main/java/uk/gov/hmcts/reform/migration/CaseMigrationRollbackProcessor.java
  src/main/java/uk/gov/hmcts/reform/migration/CaseMigrationRunner.java
  src/main/java/uk/gov/hmcts/reform/migration/ccd/CoreCaseDataService.java
  src/main/java/uk/gov/hmcts/reform/migration/ccd/HttpMessageConverterConfiguration.java
  src/main/java/uk/gov/hmcts/reform/migration/client/CaseDataApiV2.java
  src/main/java/uk/gov/hmcts/reform/migration/query/ElasticSearchQuery.java
  src/main/java/uk/gov/hmcts/reform/migration/query/ElasticSearchRollbackQuery.java
  src/main/java/uk/gov/hmcts/reform/migration/service/AuditEventService.java
  src/main/java/uk/gov/hmcts/reform/migration/service/DataMigrationService.java
  src/main/java/uk/gov/hmcts/reform/migration/service/DataMigrationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/migration/service/OrganisationApi.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/reform/migration/CaseMigrationProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/migration/ccd/CoreCaseDataServiceTest.java
  src/test/java/uk/gov/hmcts/reform/migration/query/ElasticSearchQueryTest.java
  src/test/java/uk/gov/hmcts/reform/migration/query/ElasticSearchRollbackQueryTest.java
  src/test/java/uk/gov/hmcts/reform/migration/repository/ElasticSearchRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/migration/service/AuditEventServiceTest.java
  src/test/java/uk/gov/hmcts/reform/migration/service/DataMigrationServiceImplTest.java
Labels: prd:probate, ns:probate, rel:probate-cron-ccd-data-migration-tool-pr-6

#18 DTSPB-3926 Suppress CVE
  dependency-check-suppressions.xml
Labels: prd:probate, ns:probate, rel:probate-cron-ccd-data-migration-tool-pr-18

#19 DTSPB-3926 Change location
  infrastructure/variables.tf
Labels: prd:probate, ns:probate, aat/destroy, rel:probate-cron-ccd-data-migration-tool-pr-19

#17 DTSPB-3881 channel choice migration
  src/main/java/uk/gov/hmcts/reform/migration/CaseMigrationProcessor.java
  src/main/java/uk/gov/hmcts/reform/migration/CaseMigrationRollbackProcessor.java
  src/main/java/uk/gov/hmcts/reform/migration/CaseMigrationRunner.java
  src/main/java/uk/gov/hmcts/reform/migration/ccd/CoreCaseDataService.java
  src/main/java/uk/gov/hmcts/reform/migration/query/ElasticSearchQuery.java
  src/main/java/uk/gov/hmcts/reform/migration/query/ElasticSearchRollbackQuery.java
  src/main/java/uk/gov/hmcts/reform/migration/service/DataMigrationService.java
  src/main/java/uk/gov/hmcts/reform/migration/service/DataMigrationServiceImpl.java
  src/main/resources/application.properties
  src/main/resources/application_dev.properties
  src/test/java/uk/gov/hmcts/reform/migration/CaseMigrationProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/migration/ccd/CoreCaseDataServiceTest.java
  src/test/java/uk/gov/hmcts/reform/migration/query/ElasticSearchQueryTest.java
  src/test/java/uk/gov/hmcts/reform/migration/query/ElasticSearchRollbackQueryTest.java
  src/test/java/uk/gov/hmcts/reform/migration/repository/ElasticSearchRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/migration/service/AuditEventServiceTest.java
  src/test/java/uk/gov/hmcts/reform/migration/service/DataMigrationServiceImplTest.java
Labels: prd:probate, ns:probate, rel:probate-cron-ccd-data-migration-tool-pr-17
