Repository hmcts/probate-ccd-data-migration-tool, pull requests merged in 2024-05, with the labels that each got.

#22 DTSPB-3881: Remove useless date filter on elasticsearch query
  charts/probate-cron-ccd-data-migration-tool/Chart.yaml
  charts/probate-cron-ccd-data-migration-tool/values.yaml
  src/main/java/uk/gov/hmcts/reform/migration/CaseMigrationProcessor.java
  src/main/java/uk/gov/hmcts/reform/migration/CaseMigrationRollbackProcessor.java
  src/main/java/uk/gov/hmcts/reform/migration/ccd/CoreCaseDataService.java
  src/main/java/uk/gov/hmcts/reform/migration/query/ElasticSearchQuery.java
  src/main/java/uk/gov/hmcts/reform/migration/query/ElasticSearchRollbackQuery.java
  src/main/java/uk/gov/hmcts/reform/migration/repository/ElasticSearchRollbackRepository.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/reform/migration/query/ElasticSearchQueryTest.java
  src/test/java/uk/gov/hmcts/reform/migration/query/ElasticSearchRollbackQueryTest.java
  src/test/java/uk/gov/hmcts/reform/migration/repository/ElasticSearchRepositoryTest.java
Labels: prd:probate, ns:probate, rel:probate-cron-ccd-data-migration-tool-pr-22

#28 DTSPB-3883 fix Sonar Duplication Error
  src/main/java/uk/gov/hmcts/reform/migration/query/ElasticSearchRollbackQuery.java
Labels: prd:probate, ns:probate, rel:probate-cron-ccd-data-migration-tool-pr-28

#29 DTSPB-3883 fix Sonar Duplication Error
  build.gradle
Labels: prd:probate, ns:probate, rel:probate-cron-ccd-data-migration-tool-pr-29
