Repository hmcts/probate-ccd-data-migration-tool, pull requests merged in 2024-01, with the labels that each got.

#5 DTSPB-3893-Data-Migration-Sols-Paper-Case-Newcastle
  build.gradle
  charts/probate-cron-ccd-data-migration-tool/Chart.yaml
  dependency-check-suppressions.xml
  renovate.json
  src/main/java/uk/gov/hmcts/reform/migration/CaseMigrationProcessor.java
  src/main/java/uk/gov/hmcts/reform/migration/ccd/CoreCaseDataService.java
  src/main/java/uk/gov/hmcts/reform/migration/query/ElasticSearchQuery.java
  src/main/java/uk/gov/hmcts/reform/migration/query/ElasticSearchRollbackQuery.java
  src/main/java/uk/gov/hmcts/reform/migration/service/DataMigrationServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/migration/CaseMigrationProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/migration/ccd/CoreCaseDataServiceTest.java
  src/test/java/uk/gov/hmcts/reform/migration/query/ElasticSearchQueryTest.java
  src/test/java/uk/gov/hmcts/reform/migration/query/ElasticSearchRollbackQueryTest.java
  src/test/java/uk/gov/hmcts/reform/migration/repository/ElasticSearchRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/migration/service/DataMigrationServiceImplTest.java
Labels: prd:probate, ns:probate, rel:probate-cron-ccd-data-migration-tool-pr-5

#8 DTSPO-15909 - migrated Application Insights
  charts/probate-cron-ccd-data-migration-tool/Chart.yaml
  infrastructure/.terraform-version
  infrastructure/app-insights.tf
  infrastructure/main.tf
Labels: prd:probate, add-or-update, ns:probate, rel:probate-cron-ccd-data-migration-tool-pr-8

#15 DTSPB-3955 Data Migration change with case References
  src/main/java/uk/gov/hmcts/reform/migration/CaseMigrationProcessor.java
  src/main/java/uk/gov/hmcts/reform/migration/CaseMigrationRollbackProcessor.java
  src/main/java/uk/gov/hmcts/reform/migration/CaseMigrationRunner.java
  src/main/java/uk/gov/hmcts/reform/migration/ccd/CoreCaseDataService.java
  src/main/java/uk/gov/hmcts/reform/migration/service/DataMigrationServiceImpl.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/reform/migration/CaseMigrationProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/migration/ccd/CoreCaseDataServiceTest.java
  src/test/java/uk/gov/hmcts/reform/migration/service/DataMigrationServiceImplTest.java
Labels: prd:probate, ns:probate, rel:probate-cron-ccd-data-migration-tool-pr-15
